
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Public/
### Vapor Patch ###
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store

# End of https://www.gitignore.io/api/vapor

/Package.resolved
/Config/crypto.json
/Config/secrets/*.json
